html,body {
    width: 100%;
    height: 100%;
    font-family: PingFangSC-Semibold, PingFang SC;
}
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding:0;
}
ul,li,dl,dt,dd {
    padding: 0;
    margin:0;
    list-style: none;
}
.flex {
    display: flex;
}
.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-s {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
}
.left {
    float: left;
}
.right {
    float: right;
}
.column-center{
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-1{
    flex:1
}
/*padding*/
.padding-sm {
    padding:20px;
}
.padding-lr-sm {
    padding:0 20px;
} 
@mixin over-single-line{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
@mixin over-single-line($num){
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    overflow: hidden;
}




.withdrawRuleMain {
    width: 90%;
    height: 700px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    .title {
        font-size:60px;
        line-height: 100px;
        font-weight: 600;
        color: #333;
        text-align: center;
        margin:20px 0;
    }
    .tip {
        height: 450px;
        overflow: auto;
        padding: 20px;

        p {
            font-size: 98px;
            line-height: 98px;
            font-weight: 400;
            color: #666;
        }
    }
    .button {
        background: url(//fasthuyitool.jidiandian.cn/web_static_assets/sign_static_quick4/fiveMoney/rule_button.png) no-repeat center;
        background-size: contain;
        width: 350px;
        height: 100px;
        line-height: 12.667vw;
        font-size: 4.667vw;
        font-weight: 500;
        color: #fff;
        text-align: center;
        margin: 20px auto;
        cursor: pointer;
    }

}